<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit nobis ducimus, quos quasi aut at voluptatum exercitationem accusamus neque eum cum sequi temporibus sapiente a mollitia omnis atque dicta inventore.</p>
<ul>
  <li>one</li>
  <li>two</li>
  <li>three</li>
</ul>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit nobis ducimus, quos quasi aut at voluptatum exercitationem accusamus neque eum cum sequi temporibus sapiente a mollitia omnis atque dicta inventore.</p>
<div class="buttons">
  <button class="button">Button</button>
  <button class="button">Button</button>
  <button class="button">Button</button>
  <a class="button">Button</a>
  <a class="button">Button</a>
  <a class="button">Button</a>    
</div>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit nobis ducimus, quos quasi aut at voluptatum exercitationem accusamus neque eum cum sequi temporibus sapiente a mollitia omnis atque dicta inventore.</p>
