:host {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-narrow {
  width: 96%;
  max-width: 400px;
  height: 100%;
}

ff-chat-output {
  padding-bottom: 40vh;
}

ff-chat-input {
  height: 40vh;
}
